/* TODO Add site wide styles */
body {
	font: 14px 'Century Gothic', Futura, sans-serif;
	margin: 20px;
}

ol,
ul {
	padding-left: 30px;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}
